<p style="color: green"><%= notice %></p>

<% content_for :title, "Events" %>

<h1>Upcoming Events:</h1>
<%= render partial: "event_summary", locals: { events: @events.upcoming } %>

<br><br>

<h1>Past Events</h1>
<%= render partial: "event_summary", locals: { events: @events.past } %>


