<% content_for :title, "Editing event option" %>

<h1>Editing event option</h1>

<%= render "form", event_option: @event_option %>

<br>

<div>
  <%= link_to "Show this event option", @event_option %> |
  <%= link_to "Back to event options", event_options_path %>
</div>
