<p style="color: green"><%= notice %></p>

<% content_for :title, "Event options" %>

<h1>Event options</h1>

<div id="event_options">
  <% @event_options.each do |event_option| %>
    <%= render event_option %>
    <p>
      <%= link_to "Show this event option", event_option %>
    </p>
  <% end %>
</div>

<%= link_to "New event option", new_event_option_path %>
