<% content_for :title, "New event option" %>

<h1>New event option</h1>

<%= render "form", event_option: @event_option %>

<br>

<div>
  <%= link_to "Back to event options", event_options_path %>
</div>
