<div id="<%= dom_id advisor %>">
  <p>
    <strong>First name:</strong>
    <%= advisor.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= advisor.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= advisor.email %>
  </p>

</div>
