<table class="table">
<thead>
<tr>
  <th>Student Name</th>
  <th>Event Option</th>
  <th>Cost</th>
</tr>
</thead>
<tbody>
<% student_list.each do | students| %>
  <% students.each_with_index do |student, index| %>
    <tr>
      <td><%= student.short_name %></td>
      <td><%= student.event_option_description %></td>
      <td><%= number_to_currency(student.event_option_cost, unit: "$") %></td>
    </tr>
  <% end %>
<% end %>
</tbody>
</table>
