<table class="table table-auto">
<thead>
<tr>
  <th class="w-auto">Student Name</th>
  <th class="w-auto">Event Option</th>
  <th class="w-auto text-right">Cost</th>
</tr>
</thead>
<tbody>
<% student_list.each do | students| %>
  <% students.each_with_index do |student, index| %>
    <tr>
      <td><%= student.short_name %></td>
      <td><%= student.event_option_description %></td>
      <td class="text-right"><%= number_to_currency(student.event_option_cost, unit: "$") %></td>
    </tr>
  <% end %>
<% end %>
</tbody>
</table>
