<% content_for :title, "Editing advisor" %>

<h1>Editing advisor</h1>

<%= render "form", advisor: @advisor %>

<br>

<div>
  <%= link_to "Show this advisor", @advisor %> |
  <%= link_to "Back to advisors", advisors_path %>
</div>
